/*
https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/EmojiReplacementHub.css
  https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/EmojiReplacements/ThemeDevBadge.css
  https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Microsoft/spritesheets.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/EmojiReplacements/SpriteSheets.css
  https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Microsoft/people.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/EmojiReplacements/People.css
  https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Microsoft/nature.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/EmojiReplacements/Nature.css
  https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Microsoft/food.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/EmojiReplacements/Food.css
  https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Microsoft/activity.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/EmojiReplacements/Activity.css
  https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Microsoft/travel.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/EmojiReplacements/Travel.css
  https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Microsoft/objects.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/EmojiReplacements/Objects.css
  https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Microsoft/symbols.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/EmojiReplacements/Symbols.css
  https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Microsoft/flags.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/EmojiReplacements/Flags.css
https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/SettingsIcon.css
https://chillax-org.github.io/Discolored/main.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/Main.css
https://warrayquipsome.github.io/Chillax/Addons/IconPackEdited.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/IconPackEdited.css
https://warrayquipsome.github.io/Chillax/Addons/AvatarOnlyMemberList.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/AvatarOnlyMemberList.css
https://warrayquipsome.github.io/Chillax/Addons/FolderRedesign.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/FolderRedesign.css
https://raw.githubusercontent.com/DiscordStyles/RadialStatus/refs/heads/deploy/RadialStatus.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/RadialStatus.css
https://warrayquipsome.github.io/Chillax/Addons/FriendGrid.css > https://drakikujba.github.io/DrakiKujba/DrakiKujba/RemovableAddons/FriendGrid.css















*/
